<h1>Dashboard</h1>
<p>While we don't have navigation:</p>
<ul>
  <li><%= link_to "Sprint", sprints_url %>
  <li><%= link_to "Backlogs", backlogs_url %>
  <li><%= link_to "Stories", stories_url %>
</ul>

